.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  background-color: #2E6FA6;
  color: black;
}
.jumbotron {
  margin: -40px auto;
  background: white;
  color: black;
}
.navbar-inverse {
  background: #2E6FA6;
  color: black;
  z-index:9999;
  font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #0044CC;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #0044CC;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #0044CC;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #0044CC;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #0044CC;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #0044CC;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
address {
  color: black;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 0px;
  left: 0px;
  right: 0px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

/* Not important */
.footer {
  background: #eee;
  height: 1000px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

@media screen and (min-device-width: 1367px) {
    body
    {
      width: 70%;
      align: center;
      z-index: 0;
      margin-left: 15%;
    }
}

.dl-horizontal dt 
{
    white-space: normal;
    width: 120px; 
}

.ab:link {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.ab:visited {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.ab:hover, .ab:focus {
  text-decoration: underline;
  color: black;
}
